<!DOCTYPE HTML>
<html>
  <body>

    <div class="itinerary-header">

      <div id="tab-wrapper">
        <div class="subMenuButton" (click)="navigateToUnitCards()">
          Fichas
        </div>

        <div class="subMenuButton" (click)="navigateToUnitQuestions()">
          Ejercicios
        </div>

        <span *ngFor="let itinerary of unit.itineraries" class="subMenuItineraries">
          <div class="subMenuButton" (click)="navigateToUnitItinerary(itinerary.id)">
            {{itinerary.name}}
          </div>
        </span>
      </div>
    </div>

  </body>
</html>
