.itinerary-header {
  height: 4rem;
  margin-top: -1rem;
  background-color: #e1afed;
  color: white;
  font-size: 0.8rem;
}

.subMenuButton {
  border-radius: 0.5rem;
  background-color: #27273c;
  color: white;
  font-size: 0.8rem;
  padding: 0.7rem;
  box-shadow: none;
  position: relative;
  top: 2rem;
  margin-left: 0.5rem;
  display: inline;
  cursor: pointer;
}

.subMenuButton:hover {
  background-color: #9e2abb;
}

#tab-wrapper {
  top: 0.5rem;
  white-space: nowrap;
  height: 150%;
  overflow-x: auto;
  z-index: 0;
}
