<!DOCTYPE HTML>
<html>
  <body>

    <div class="itinerary-header">
      <div class="subMenuButton" (click)="navigateToUnitCards()">
        Fichas
      </div>

      <div class="subMenuButton" (click)="navigateToUnitQuestions()">
        Ejercicios
      </div>

      <div id="tab-wrapper">
        <span *ngFor="let itinerary of itinerariesResult" class="subMenuItineraries">
          <div class="itineraryButton" (click)="navigateToUnitItinerary(itinerary.id)">
            {{itinerary.name}}
          </div>
        </span>
      </div>

      <div id="itineraryTools">
        <button mat-icon-button (click)="openDialog()">
          <mat-icon>add_to_queue</mat-icon>
        </button>
        <mat-form-field appearance="outline" id="search">
          <mat-label>Buscar itinerario</mat-label>
          <input (keyup)="applyFilterItineraries($event.target.value)" id="search-input" matInput/>
        </mat-form-field>
      </div>
    </div>

  </body>
</html>
