.itinerary-header {
  height: 4rem;
  margin-top: -1rem;
  background-color: #e1afed;
  color: white;
  font-size: 0.8rem;
}

.subMenuButton {
  border-radius: 0.5rem;
  background-color: #27273c;
  color: white;
  font-size: 0.8rem;
  padding: 0.7rem;
  box-shadow: none;
  position: relative;
  top: 2rem;
  margin-left: 0.5rem;
  display: inline;
  cursor: pointer;
}

.itineraryButton {
  border-radius: 0.5rem;
  background-color: #905A92;
  color: white;
  font-size: 0.8rem;
  padding: 0.7rem;
  box-shadow: none;
  position: relative;
  top: 2rem;
  margin-left: 0.5rem;
  display: inline;
  cursor: pointer;
}

.itineraryButton:hover {
  background-color: #27273c;
  color: white;
}

#tab-wrapper {
  position: absolute;
  left: 9.8rem;
  top: 2rem;
  width: 57%;
  white-space: nowrap;
  height: 150%;
  overflow-x: auto;
  z-index: 0;
}

#itineraryTools {
  border-left: 0.1rem solid #27273c;
  position: absolute;
  right: 9.5rem;
  top: 3.25rem;
}

.mat-icon {
  padding: 0;
  margin: -0.1rem 0 0 0;
}

#search {
  position: absolute;
  width: 8.3rem;
  margin-right: 10rem;
  z-index: 120;
}
