.card {
  left: 0;
  right: 0;
  top: 2rem;
  padding: 2rem;
  margin: 2rem;
  background-color: #fdf7ff;
}

.card-input-container {
  margin-bottom: 1rem;
}

.card-input {
  width: 100%;
  resize: none;
}

#card-title {
  width: 80%;
}

#delete-card-button {
  color: indianred;
  position: absolute;
  right: 2rem;
  cursor: pointer;
}

.card-input-area {
  height: 7rem;
}

#empty-message {
  margin-top: 10rem;
  text-align: center;
}

#spinner {
  margin-top: 15rem;
  text-align: center;
}

#add-button {
  position: fixed;
  color: #ffffff;
  right: 12rem;
  top: 3.3rem;
  z-index: 1000;
  width: 10rem;
}

#save-button {
  position: fixed;
  color: #89718f;
  right: 1rem;
  top: 3.3rem;
  z-index: 1000;
  width: 10rem;
}

#save-button:enabled {
  color: #ffffff;
}
