.card {
  left: 0;
  right: 0;
  top: 2rem;
  padding: 2rem;
  margin: 2rem;
  background-color: #ffffff;
}

.card-input-container {
  margin-bottom: 1rem;
}

.card-input {
  width: 100%;
  resize: none;
}

.card-input-area {
  height: 7rem;
}

#card-buttons {
  position: fixed;
  top: 3.3rem;
  right: 0;
  z-index: 1000;
}

#empty-message {
  margin-top: 10rem;
  text-align: center;
}

#spinner {
  margin-top: 15rem;
  text-align: center;
}
