<!DOCTYPE HTML>
<html>
  <body>

    <div class="unit-header">

      <button mat-flat-button color="primary" style="position:absolute; left:35rem; margin-top: 0.4rem;" (click)="navigateToUnitQuestions()">
        Ejercicios
      </button>

      <div *ngFor="let itinerary of itineraries">
        <button mat-flat-button color="primary" style="position:absolute; left:15rem; margin-top: 0.4rem;" (click)="navigateToUnitItinerary(itinerary.id)">
          Itinerario {{itinerary.id}}
        </button>
      </div>

    </div>

    <h1>{{unit?.name}}</h1>
    <hr>
    <h3>Fichas</h3>

    <mat-card class="card" *ngFor = "let card of this.cards">
      <div>{{card.name}}</div>
      <textarea [(ngModel)]="card.text"></textarea>
      <div id="image-container">
        <img *ngIf="card.image" [src]="card.image">
        <button *ngIf="!card.image" mat-mini-fab color="accent" (click)="fileInput.click()">
          <input #fileInput type="file" (change)="changeImage(card.id, fileInput)">
          <mat-icon>insert_photo</mat-icon>
        </button>
      </div>
    </mat-card>

    <button (click)="save()">guardar</button>

  </body>
</html>
