<!DOCTYPE HTML>
<html>
  <body>

    <button id="add-button" mat-button (click)="addCard()">
      <mat-icon>add</mat-icon>
      Añadir ficha
    </button>

    <div id="spinner-container" *ngIf="showSpinner">
      <img id="spinner" src="../../assets/img/spinner.gif">
      <span id="spinner-text">Cargando...</span>
    </div>

    <div #cardList>
      <mat-card [ngClass]="card.id != 0 ? 'card saved-card' : 'card new-card'" *ngFor = "let card of cards; let i = index">

        <mat-icon id="delete-card-button" (click)="deleteCard(card.id, i)" matTooltip="Eliminar">delete</mat-icon>
        <mat-icon *ngIf="cardsView[i]" class="edit-card-button" (click)="editCard(i)" matTooltip="Editar">edit</mat-icon>
        <mat-icon *ngIf="!cardsView[i] "class="edit-card-button" (click)="viewCard(i)" matTooltip="Visualizar">remove_red_eye</mat-icon>

        <div *ngIf="!cardsView[i]">
          <mat-form-field id="card-title" class="example-full-width card-input card-input-container">
            <input matInput class="card-input" placeholder="Título" [(ngModel)]="card.name" required (change)="save(card, i)">
          </mat-form-field>
          <mat-form-field class="example-full-width card-input card-input-area">
            <textarea matInput class="card-input" placeholder="Contenido" required (change)="save(card, i)" (input)="changeTextArea($event)" [(ngModel)]="card.content"></textarea>
          </mat-form-field>

          <mat-chip-list class="tools">
            <button mat-button matTooltip="Añadir foto" class="tool" (click)="openImageBottomSheet()">
              <mat-icon>add_photo_alternate</mat-icon>
            </button>
          </mat-chip-list>

        </div>

        <div *ngIf="cardsView[i]">
          <h4>{{card.name}}</h4>
          <div [innerHTML]="prettyCards[i]"></div>
        </div>

      </mat-card>
      <div *ngIf="cards.length == 0" id="empty-message">
        Esta unidad no tiene ninguna ficha
      </div>
    </div>

  </body>
</html>
