<!DOCTYPE HTML>
<html>
  <body>

    <app-submenu></app-submenu>

    <div class="cards">
      <div class="card" *ngFor = "let card of this.cards">
        <h3>{{card.name}}</h3>
        <textarea class="textAres" [(ngModel)]="card.content"></textarea>
        <div id="image-container">
          <img *ngIf="card.image" [src]="card.image">
        </div>
      </div>

      <button mat-button (click)="save()">
        <mat-icon>save</mat-icon>Guardar
      </button>
    </div>

  </body>
</html>
