<!DOCTYPE HTML>
<html>
  <body>

    <div class="itinerary-header">
      <button mat-flat-button color="primary" style="position:absolute; left:5rem; margin-top: 0.4rem;" (click)="navigateToUnitCards()">
        Fichas
      </button>

      <button mat-flat-button color="primary" style="position:absolute; left:25rem; margin-top: 0.4rem;" (click)="navigateToUnitProgress()">
        Seguimiento
      </button>

      <div *ngFor="let itinerary of itineraries2">
        <button mat-flat-button color="primary" style="position:absolute; left:15rem; margin-top: 0.4rem;" (click)="navigateToUnitItinerary(itinerary.id)">
          Itinerario {{itinerary.id}}
        </button>
      </div>
    </div>

    <!-- EDITOR -->
    <div *ngIf="loginService.isAdmin">
      <div id="editor-container">

          <!--<mat-card class="slide-itinerary-adder">
            <mat-radio-group>
              <mat-radio-button value="1">Vista</mat-radio-button>
              <mat-radio-button value="2">Itinerario</mat-radio-button>
            </mat-radio-group>
            <button mat-stroked-button color="primary">Añadir</button>
            <button mat-stroked-button (click)="changeEditorType()">{{editorType}}</button>
          </mat-card>-->

        <!-- JSON editor -->
        <div *ngIf= "editorTypeJSON == true">
          <json-editor [options]="editorOptions" [data]="data" (change)="getData($event)"></json-editor>
        </div>

      </div>
    </div>

    <!-- HTML REPRESENTATION -->
    <div id="html-itinerary-representation">
      <h1>{{itinerary?.name}}</h1>
      <div *ngFor="let slide of slides">
        <div *ngIf= "slide.type == 'TheorySlide'">
          <div *ngFor="let component of slide.components">
            <h2>{{component.name}}</h2>
            <p>{{component.text}}</p>
          </div>
        </div>
        <div *ngIf= "slide.type == 'PracticeSlide'">
          <h2>Ejercicios 1</h2>
          <p>¿Que es un lenguaje de programación?</p>
        </div>
      </div>

      <div *ngFor="let itinerary of itineraries">
        <h1>{{itinerary.name}}</h1>
        <div *ngFor="let slide of itinerary.slides">
            <div *ngIf= "slide.type == 'TheorySlide'">
              <div *ngFor="let component of slide.components">
                <h2>{{component.name}}</h2>
                <p>{{component.text}}</p>
              </div>
            </div>
            <div *ngIf= "slide.type == 'PracticeSlide'">
                <h2>Ejercicio</h2>
            </div>
          </div>
      </div>
      <button (click)="navigateQuestion(5)">EJERCICIO DEFINICION 1</button>
      <button (click)="navigateTestQuestion(8)">EJERCICIO TEST 1</button>
      <button (click)="navigateListQuestion(7)">EJERCICIO LISTADO 1</button>
    </div>
  </body>
</html>
