<!DOCTYPE HTML>
<html>
  <body>

    <div class="itinerary-header">
      <button mat-flat-button color="primary" style="position:absolute; left:5rem; margin-top: 0.4rem;" (click)="navigateToUnitCards()">
        Fichas
      </button>

      <button mat-flat-button color="primary" style="position:absolute; left:35rem; margin-top: 0.4rem;" (click)="navigateToUnitQuestions()">
        Ejercicios
      </button>

      <div *ngFor="let itinerary of itinerariesTabs">
        <button mat-flat-button color="primary" style="position:absolute; left:15rem; margin-top: 0.4rem;" (click)="navigateToUnitItinerary(itinerary.id)">
          Itinerario {{itinerary.id}}
        </button>
      </div>

    </div>

    <!-- EDITOR -->
    <div *ngIf="loginService.isAdmin">
      <div id="editor-container">
        <textarea [(ngModel)]="itineraryContent" (change)="updateHTMLView()"></textarea>
      </div>
    </div>

    <!-- HTML REPRESENTATION -->
    <div id="html-itinerary-representation">
      <div [innerHTML]="contentHTML"></div>
    </div>

  </body>
</html>
