#editor-container {
  float: left;
  width: 45%;
  min-width: 45%;
  max-width: 60%;
  overflow: auto;
}

#html-itinerary-representation {
  float: right;
  width: 55%;
  overflow: auto;
}

.itinerary-header {
  height: 3rem;
  background-color: #5382ce;
  color: white;
  font-size: 0.8rem;
}
.delete-card {
  float: right;
}

.delete-slide {
  float: right;
}

.delete-exercise {
  float: right;
}

.delete-sub-itinerary {
  float: right;
}

.slide-itinerary-adder {
  left: 0;
  bottom: 0;
  margin-left: 1.4%;
  margin-bottom: 1.4%;
  float: left;
  position: fixed;
  z-index: 200;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.example-button-row button {
  margin-right: 8px;
}
