<!DOCTYPE HTML>
<html>
  <body>

    <app-submenu></app-submenu>

    <!-- TOOLS BAR -->
    <div class="toolsBar">
      <mat-chip-list class="tools">
        <mat-chip>
          <mat-icon>add_photo_alternate</mat-icon>Añadir imagen
        </mat-chip>
        <mat-chip (click)="openBottomSheet()">
          <mat-icon>assignment</mat-icon>Buscar fichas
        </mat-chip>
        <mat-chip>
          <mat-icon>book</mat-icon>Buscar slides
        </mat-chip>
        <mat-chip>
          <mat-icon>description</mat-icon>Buscar ejercicios
        </mat-chip>
      </mat-chip-list>
    </div>

    <!-- EDITOR -->
    <div *ngIf="loginService.isAdmin">
      <div id="editor-container">
        <textarea class="textAres" [(ngModel)]="itineraryContent" (change)="updateHTMLView()"></textarea>
      </div>
    </div>

    <!-- HTML REPRESENTATION -->
    <div id="html-itinerary-representation">
      <img src="../../assets/img/spinner.gif" id="spinner" *ngIf="showSpinner">
      <div [innerHTML]="contentHTML"></div>
    </div>

  </body>
</html>
