<!DOCTYPE HTML>
<html>
  <body>

    <div id="json-editor-container">
      <json-editor [options]="editorOptions" [(ngModel)]="data"></json-editor>
    </div>

    <button id="save-button" mat-icon-button color="primary" [disabled]="!changed" (click)="save()">
      <mat-icon>save</mat-icon>
    </button>

    <mat-form-field appearance="outline" id="search">
      <mat-label>Buscar unidad</mat-label>
      <input id="search-input" matInput [(ngModel)]="searchField" (ngModelChange)="search()" (keydown)="keyDown($event)"/>
      <div id="result-list" *ngIf="showResults">
        <div id="result" *ngFor="let result of results; let i = index" [class.active]="i==arrowKeyLocation" (mouseover)="setActive(i)">
          <span id="unit-prefix">{{getUnitPrefix(result.name)}}</span>
          <span id="unit-name">{{getUnitName(result.name)}}</span>
        </div>
      </div>
    </mat-form-field>

    <img src="../../assets/img/spinner.gif" id="spinner" *ngIf="showSpinner">

    <div #uml [hidden]="showSpinner"></div>

    <div #umlNodeOptions (window:resize)="updateUmlNodeOptions()">
      <input id="uml-edit-input" (change)="updateUnitName()">
      <div id="uml-node-options">
        <div *ngIf="showGoToUnit">
          <button mat-icon-button color="primary" (click)="goToUnit(selectedTarget.id.toString().substring(0, selectedTarget.id.toString().length))">
            <mat-icon class="uml-option-icon">call_made</mat-icon>
          </button>
          <br>
        </div>
        <button><img id="composition-incoming-button" src="../../assets/img/add-composition-incoming.png" height="15"></button>
        <button><img id="composition-outgoing-button" src="../../assets/img/add-composition-outgoing.png" height="15"></button>
        <br>
        <button><img id="inheritance-incoming-button" src="../../assets/img/add-inheritance-incoming.png" height="15"></button>
        <button><img id="inheritance-outgoing-button" src="../../assets/img/add-inheritance-outgoing.png" height="15"></button>
        <br>
        <button><img id="aggregation-incoming-button" src="../../assets/img/add-aggregation-incoming.png" height="15"></button>
        <button><img id="aggregation-outgoing-button" src="../../assets/img/add-aggregation-outgoing.png" height="15"></button>
        <br>
        <button><img id="association-incoming-button" src="../../assets/img/add-association-incoming.png" height="15"></button>
        <button><img id="association-outgoing-button" src="../../assets/img/add-association-outgoing.png" height="15"></button>
        <br>
        <button><img id="use-incoming-button" src="../../assets/img/add-use-incoming.png" height="15"></button>
        <button><img id="use-outgoing-button" src="../../assets/img/add-use-outgoing.png" height="15"></button>
      </div>
    </div>

  </body>
</html>
