<!DOCTYPE html>
<html>
  <body>
  <div class="question-header">
    <button mat-flat-button color="primary" style="position:absolute; left:5rem; margin-top: 0.4rem;" (click)="navigateToUnitCards()">
      Fichas
    </button>

    <button mat-flat-button color="primary" style="position:absolute; left:25rem; margin-top: 0.4rem;" (click)="navigateToUnitProgress()">
      Seguimiento
    </button>

    <button mat-flat-button color="primary" style="position:absolute; left:35rem; margin-top: 0.4rem;" (click)="navigateToUnitQuestions()">
      Ejercicios
    </button>

    <div *ngFor="let itinerary of itinerariesTabs">
      <button mat-flat-button color="primary" style="position:absolute; left:15rem; margin-top: 0.4rem;" (click)="navigateToUnitItinerary(itinerary.id)">
        Itinerario {{itinerary.id}}
      </button>
    </div>

  </div>
    <div align="center">
      <h1>Preguntas</h1>
      <span *ngFor="let question of questions">
        <p>{{ question.questionText }}</p>
      </span>
    </div>

    <div align="center">
      <h1>Añadir pregunta</h1>

      <input type="radio" name="subtype"
              [(ngModel)]="subtype" value="DefinitionQuestion" default> Definicion
      <input type="radio" name="subtype"
             [(ngModel)]="subtype" value="ListQuestion"> Listado
      <input type="radio" name="subtype"
             [(ngModel)]="subtype" value="TestQuestion"> Test

      <span *ngIf="subtype == 'DefinitionQuestion'">
        <form #textForm="ngForm">
          <input
            placeholder="Pregunta"
            #questionInput type="text"
            name="question"
            required
          />
        </form>
        <button class="button" color="primary" (click)="sendDefinitionQuestion(questionInput.value); questionInput.value=''">
          Guardar
        </button>
      </span>
      <span *ngIf="subtype == 'ListQuestion'">
        <form #textForm="ngForm">
          <input
            placeholder="Pregunta"
            #questionInput type="text"
            name="question"
            required
          />
          <br>
          <!--<input  placeholder="Respuestas posibles" #pAnswersInput type="text" name="question"/>
           <button class="button" color="primary"
                   (click)="addPossibleAnswer(pAnswersInput.value)">
            Añadir
           </button>
          <br>
          <input  placeholder="Respuestas correctas" #cAnswersInput type="text" name="question"/>
          -->
        </form>
        <button class="button" color="primary"
                (click)="sendListQuestion(questionInput.value);
                questionInput.value=''; pAnswersInput.value=''; cAnswersInput=''">
          Guardar
        </button>
      </span>
      <span *ngIf="subtype == 'TestQuestion'">
      <form #textForm="ngForm">
        <input
          placeholder="Pregunta"
          #questionInput type="text"
          name="question"
          required
        />
      </form>
      <button class="button" color="primary" (click)="sendTestQuestion(questionInput.value); questionInput.value=''">
        Guardar
      </button>
      </span>
    </div>
  </body>
</html>
