#image-container {
  width: 10rem;
  display: flex;
  float: right;
}

.question-header {
  height: 3rem;
  background-color: #5382ce;
  color: white;
  font-size: 0.8rem;
}

.new-question-button {
  position: fixed;
  color: white;
  background-color: #7d3c90;
  top: 3.45rem;
  z-index: 501;
  right: 1rem;
}

#spinner-container {
  position: fixed;
  width: calc(100% - 30rem);
  right: 8rem;
  top: 3.6rem;
  z-index: 9999;
  text-align: center;
}

#spinner {
  display: inline;
  z-index: 10000;
  height: 1.8rem;
  width: 1.8rem;
}

#spinner-text {
  position: fixed;
  display: inline;
  z-index: 10000;
  color: #ffffff;
  margin: 0.35rem 0.5rem 0.35rem 0.5rem;
}

.tool:hover {
  background-color: #a769b8;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.questions-group {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.questions-card {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.add-question-card {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 5%;
}

.card-title {
  text-align: center;
  font-weight: bold;
}

.card-content {
  text-align: center;
  align-content: center;
}

.button-row button,
.button-row a {
  margin: 8px;
}

.question-button {
  background-color: #7d3c90;
  color: #ffffff;
}

.active-type {
  background-color: #a769b8;
}

.add-question-form {
  display: flex;
  justify-content: center;
}

.add-question-form-list {
  display: flex;
  flex-direction: column;
}

.add-answer-button {
  margin: 10px;
  background-color: #7d3c90;
  color: #ffffff;
}

.add-answer-list {
  text-align: center;
}

.delete-icon {
  color: indianred;
}

.edit-icon {
  color: darkorange;
}

.text-secondary {
  color: gray;
}

.display-flex {
  display: flex;
}

.charts-cards {
  position: relative;
  width: 50%;
}

.center-charts {
  margin-left: 25%;
}

.question-tracking {
  margin-top: 4rem;
  margin-left: 4rem;
  position: relative;
}
