<!DOCTYPE html>
<html>
  <body>
    <div align="center">
      <h1>Preguntas</h1>
      <span *ngFor="let question of questions">
        <p>{{ question.questionText }}</p>
      </span>
    </div>

    <div align="center">
      <h1>Añadir pregunta</h1>

      <input type="radio" name="subtype"
              [(ngModel)]="subtype" value="DefinitionQuestion" default> Definicion
      <input type="radio" name="subtype"
             [(ngModel)]="subtype" value="ListQuestion"> Listado
      <input type="radio" name="subtype"
             [(ngModel)]="subtype" value="TestQuestion"> Test

      <span *ngIf="subtype == 'DefinitionQuestion'">
        <form #textForm="ngForm">
          <input
            placeholder="Pregunta"
            #questionInput type="text"
            name="question"
            required
          />
        </form>
        <button class="button" color="primary" (click)="sendQuestion(questionInput.value); questionInput.value=''">
          Guardar
        </button>
      </span>
      <span *ngIf="subtype == 'ListQuestion'">
        <form #textForm="ngForm">
          <input
            placeholder="Pregunta"
            #questionInput type="text"
            name="question"
            required
          />
        </form>
        <button class="button" color="primary" (click)="sendQuestion(questionInput.value); questionInput.value=''">
          Guardar
        </button>
      </span>
      <span *ngIf="subtype == 'TestQuestion'">
      <form #textForm="ngForm">
        <input
          placeholder="Pregunta"
          #questionInput type="text"
          name="question"
          required
        />
      </form>
      <button class="button" color="primary" (click)="sendQuestion(questionInput.value); questionInput.value=''">
        Guardar
      </button>
      </span>
    </div>
  </body>
</html>
