#image-container {
  width: 10rem;
  display: flex;
  float: right;
}

.question-header {
  height: 3rem;
  background-color: #5382ce;
  color: white;
  font-size: 0.8rem;
}

.add-question-card {
  margin: 10%;
}

.add-question-card-title {
  text-align: center;
  font-weight: bold;
}

.add-question-radio-group {
  display: flex;
  justify-content: center;
}

.add-question-radio-group-element {
  margin: 10px;
}

.add-question-form {
  display: flex;
  justify-content: center;
}

.add-question-form-list {
  display: flex;
  flex-direction: column;
}

.add-answer-button {
  margin: 10px;
}

.add-answer-list {
  text-align: center;
}
