<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="question-tracking">
  <h1 class="center-title">Resumen de resultados</h1>

  <h3 class="center-title">Pregunta: {{this.question?.questionText}}</h3>

  <div *ngIf="this.resultsReady" class="display-flex">
    <mat-card class="charts-cards">
      <mat-card-title class="center-title">Respuestas Correctas e Incorrectas</mat-card-title>
      <mat-card-content class="center-pie-chart">
        <ngx-charts-pie-chart
          [view]="[400, 250]"
          [results]="this.pieChartResults"
          [animations]="true"
          [customColors]="[{name:'Respuestas Correctas',value:'#26d469'}, {name:'Respuestas Incorrectas',value:'#de4d40'}]"
          [legend]="true"
          [legendPosition]="true"
          [legendTitle]="'Leyenda'">
        </ngx-charts-pie-chart>
      </mat-card-content>
    </mat-card>
    <mat-card class="charts-cards" *ngIf="this.questionType != 'DefinitionQuestion'">
      <mat-card-title class="center-title">Dentro de las respuestas incorrectas, las respuestas erróneas elegidas son las siguientes</mat-card-title>
      <mat-card-content class="center-bar-chart">
        <ngx-charts-bar-vertical
        [view]="[600, 250]"
        [results]="this.barChartResults"
        [animations]="true"
        [xAxis]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Respuesta'"
        [yAxisLabel]="'Número de Respuestas'">
        </ngx-charts-bar-vertical>
      </mat-card-content>
    </mat-card>
  </div>
</body>
</html>
