#home-button {
  position:absolute;
  margin: 0.2rem;
}

#header {
  position: relative;
  height: 3rem;
  top: 0;
  right: 0;
  left: 0;
  background-color: #27273c;
  color: white;
  font-size: 0.8rem;
  overflow: hidden;
}

#logout-button {
  position: absolute;
  right: 0.5vw;
  margin: 0.2rem;
}

#progress-button {
  position: absolute;
  right: 4vw;
  margin-top: 0.2rem;
}

.mat-icon {
  padding: 0;
  margin: -0.1rem 0 0 0;
}

.tab {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: 1px solid #9e2abb;
  background-color: #27273c;
  padding: 0.9rem 0.2rem 1rem 0.7rem;
  box-shadow: none;
  position: relative;
  top: 0.3rem;
  cursor: pointer;
}

.activeTab {
  background-color: #e1afed;
  color: #000000;
  font-weight: bold;
}

.tab:hover {
  background-color: #e1afed;
  color: #000000;
}

#tab-wrapper {
  margin-left: 3rem;
  margin-right: 13rem;
  top: 0.5rem;
  white-space: nowrap;
  height: 150%;
  overflow-x: auto;
}

.tab-content {
  display: inline;
}

.newCourseButton {
  background-color: #2361c5;
  border: 0;
  color: white;
}

.close-tab-button:hover {
  color: #d87497;
}
