<!DOCTYPE HTML>
<html>
  <body>

    <div *ngIf="loginService.isLogged" id="header">

      <div id="tab-wrapper">

        <button mat-button *ngIf="loginService.isAdmin" class="nav-button" [routerLink]="['/']">
          <img src="../../assets/img/uml-icon.png" height="15">
          <div class="nav-button-content">Unidades</div>
        </button>
        <button mat-button *ngIf="!loginService.isAdmin" class="nav-button" [routerLink]="['/student']">
          <mat-icon>class</mat-icon>
          <div class="nav-button-content">Cursos</div>
        </button>

        <button mat-button class="nav-button" [routerLink]="['/courses']">
          <mat-icon>class</mat-icon>
          <div class="nav-button-content">Cursos</div>
        </button>
      </div>

      <span id="user-name">{{loginService.user.name}}</span>
      <button mat-icon-button id="logout-button" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>

    </div>

  </body>
</html>
