#home-button {
  position:absolute;
  margin: 0.2rem;
}

#header {
  height: 3rem;
  top: 0;
  right: 0;
  left: 0;
  background-color: #2361c5;
  color: white;
  font-size: 0.8rem;
}

#logout-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -0.15rem;
}

#progress-button {
  position: absolute;
  top: 0;
  right: 3%;
  margin-top: -0.15rem;
}

.mat-icon {
  padding: 0;
  margin: 0;
  margin-top: -0.1rem;
}

.tab {
  background-color: #2361c5;
  border-left: 1px solid #88c5c5;
  border-right: 1px solid #88c5c5;
  padding: 0.5rem;
  box-shadow: none;
  position: relative;
  top: 0.2rem;
}

.activeTab {
  background-color: #3c7add;
}

.tab:hover {
  background-color: #3c7add;
}

#tab-wrapper {
  margin-left: 3rem;
  margin-right: 13rem;
  top: 0.5rem;
  white-space: nowrap;
  height: 150%;
  overflow-x: auto;
  z-index: 0;
}

.newCourseButton {
  background-color: #2361c5;
  border: 0;
  color: white;
}
