<!DOCTYPE HTML>
<html>
  <body>

    <div *ngIf="loginService.isLogged" [ngClass]="loginService.isAdmin ? 'header admin-header' : 'header user-header'">

      <div id="breadcrumb-wrapper">

        <button mat-button *ngIf="loginService.isAdmin" class="nav-button admin-nav-button home-button" [routerLink]="['/']" (click)="this.tabService.deactivateTabs()">
          <mat-icon class="nav-button-icon">home</mat-icon>
          <div class="nav-button-name">Inicio</div>
        </button>

        <button mat-button *ngIf="breadcrumbService.courses" [ngClass]="loginService.isAdmin ? 'nav-button admin-nav-button home-button' : 'nav-button user-nav-button home-button'" [routerLink]="['/courses']">
          <mat-icon class="nav-button-icon">class</mat-icon>
          <div class="nav-button-name">Cursos</div>
        </button>

        <button mat-button *ngIf="loginService.isAdmin && breadcrumbService.units" [ngClass]="loginService.isAdmin ? 'nav-button admin-nav-button' : 'nav-button user-nav-button'" [routerLink]="['/unit']">
          <img class="nav-button-icon" src="../../assets/img/uml-icon.png" height="15">
          <div class="nav-button-name">Unidades</div>
        </button>

        <button mat-button *ngIf="loginService.isAdmin && breadcrumbService.unit" [ngClass]="loginService.isAdmin ? 'nav-button admin-nav-button' : 'nav-button user-nav-button'" [routerLink]="['/unit/', breadcrumbService.unitId]">
          <div class="nav-button-name">
            <span [ngClass]="loginService.isAdmin ? 'nav-button-title admin-nav-button-title' : 'nav-button-title user-nav-button-title'">Unidad</span>
            <span class="nav-button-content">{{breadcrumbService.unit}}</span>
          </div>
        </button>

        <button mat-button *ngIf="breadcrumbService.course && loginService.isAdmin" [ngClass]="loginService.isAdmin ? 'nav-button admin-nav-button' : 'nav-button user-nav-button'" [routerLink]="['/course/' + breadcrumbService.courseId]">
          <div class="nav-button-name">
            <span [ngClass]="loginService.isAdmin ? 'nav-button-title admin-nav-button-title' : 'nav-button-title user-nav-button-title'">Curso</span>
            <span class="nav-button-content">{{breadcrumbService.course}}</span>
          </div>
        </button>

        <button mat-button *ngIf="breadcrumbService.course && !loginService.isAdmin" [ngClass]="loginService.isAdmin ? 'nav-button admin-nav-button' : 'nav-button user-nav-button'" [routerLink]="['/course/' + breadcrumbService.courseId + '/modules/' + breadcrumbService.moduleId]">
          <div class="nav-button-name">
            <span [ngClass]="loginService.isAdmin ? 'nav-button-title admin-nav-button-title' : 'nav-button-title user-nav-button-title'">Curso</span>
            <span class="nav-button-content">{{breadcrumbService.course}}</span>
          </div>
        </button>

        <button mat-button *ngIf="loginService.isAdmin && breadcrumbService.module" [ngClass]="loginService.isAdmin ? 'nav-button admin-nav-button' : 'nav-button user-nav-button'" [routerLink]="['/units/' + breadcrumbService.unitId + '/modules/' + breadcrumbService.moduleId]">
          <div class="nav-button-name">
            <span [ngClass]="loginService.isAdmin ? 'nav-button-title admin-nav-button-title' : 'nav-button-title user-nav-button-title'">Itinerario</span>
            <span class="nav-button-content">{{breadcrumbService.module}}</span>
          </div>
        </button>

        <button mat-button *ngIf="breadcrumbService.lesson" [ngClass]="loginService.isAdmin ? 'nav-button admin-nav-button' : 'nav-button user-nav-button'">
          <div class="nav-button-name">
            <span [ngClass]="loginService.isAdmin ? 'nav-button-title admin-nav-button-title' : 'nav-button-title user-nav-button-title'">Lección</span>
            <span class="nav-button-content">{{breadcrumbService.lesson}}</span>
          </div>
        </button>

        <button mat-button *ngIf="breadcrumbService.questions" [ngClass]="loginService.isAdmin ? 'nav-button admin-nav-button' : 'nav-button user-nav-button'">
          <div class="nav-button-name">
            <span [ngClass]="loginService.isAdmin ? 'nav-button-title admin-nav-button-title' : 'nav-button-title user-nav-button-title'">Pregunta</span>
            <span class="nav-button-content">{{breadcrumbService.question}}</span>
          </div>
        </button>
      </div>

      <div *ngIf="loginService.isAdmin" style="height: 20px">
        <button mat-button [ngClass]="tab.isActive ? 'nav-button admin-nav-button active-tab' : 'nav-button admin-nav-button'" *ngFor="let tab of this.tabService.tabs" [routerLink]="[tab.link]" (click)="tabService.activateTab(tab)">
          <div class="nav-button-name">
            <span class="nav-button-title admin-nav-button-title" *ngIf="tab.name !== 'Cursos' && tab.name !== 'Unidades'">{{tab.type}}</span>
            <span class="nav-button-content">{{tab.name}}</span>
            <mat-icon (click)="this.closeTab(tab)">
              close
            </mat-icon>
          </div>
        </button>
      </div>

      <span id="user-name">{{loginService.user.name}}</span>
      <button mat-icon-button id="logout-button" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>

    </div>

  </body>
</html>
