<!DOCTYPE HTML>
<html>
  <body>

    <!-- TOOLS BAR UNIT -->
    <div [ngClass]="loginService.isAdmin ? 'toolsBar admin' : 'toolsBar student'">
      <mat-chip-list *ngIf="loginService.isAdmin" class="tools">
        <button mat-button class="tool">
          <mat-icon>add_photo_alternate</mat-icon>Añadir imagen
        </button>
        <button mat-button class="tool" (click)="openBottomSheet()">
          <mat-icon>assignment</mat-icon>Buscar fichas
        </button>
        <button mat-button class="tool">
          <mat-icon>book</mat-icon>Buscar slides
        </button>
        <button mat-button class="tool">
          <mat-icon>description</mat-icon>Buscar ejercicios
        </button>
      </mat-chip-list>
    </div>

    <!-- TOOLS BAR COURSE-->

    <!-- EDITOR -->
    <div *ngIf="loginService.isAdmin">
      <mat-card id="editor-container">
        <textarea class="text-area" [(ngModel)]="lessonContent" (change)="updateHTMLView()"></textarea>
      </mat-card>
    </div>

    <!-- HTML REPRESENTATION -->
    <div [ngClass]="loginService.isAdmin ? 'html-lesson-representation-editor' : 'html-lesson-view'">
      <img src="../../../../assets/img/spinner.gif" id="spinnerEditor" *ngIf="showSpinner">
      <h1>{{lesson?.name}}</h1>
      <div *ngFor="let slide of contentHTML">
        <mat-card class="slide-content">
          <div [innerHTML]="slide"></div>
        </mat-card>
      </div>
    </div>

  </body>
</html>
