<!DOCTYPE HTML>
<html>
  <body>

    <!-- TOOLS BAR UNIT -->
    <div [ngClass]="loginService.isAdmin ? 'toolsBar admin' : 'toolsBar student'">
      <mat-chip-list *ngIf="loginService.isAdmin" class="tools">
        <button mat-button class="tool">
          <mat-icon>add_photo_alternate</mat-icon>Añadir imagen
        </button>
        <button mat-button class="tool" (click)="openBottomSheet()">
          <mat-icon>assignment</mat-icon>Buscar fichas
        </button>
        <button mat-button class="tool">
          <mat-icon>book</mat-icon>Buscar slides
        </button>
        <button mat-button class="tool">
          <mat-icon>description</mat-icon>Buscar ejercicios
        </button>
      </mat-chip-list>
    </div>

    <!-- TOOLS BAR COURSE-->

    <!-- EDITOR -->
    <div *ngIf="loginService.isAdmin">
      <mat-card id="editor-container">
        <textarea class="text-area" [(ngModel)]="lessonContent" (change)="updateHTMLView()"></textarea>
      </mat-card>
    </div>

    <!-- HTML REPRESENTATION -->
    <div [ngClass]="loginService.isAdmin ? 'html-lesson-representation-editor' : 'html-lesson-view'">
      <img [ngClass]="loginService.isAdmin ? 'spinner' : 'center'" src="../../../../assets/img/spinner.gif" *ngIf="showSpinner">
      <h1 [ngClass]="!loginService.isAdmin ? 'html-lesson-title' : ''">{{lesson?.name}}</h1>
      <div *ngIf="loginService.isAdmin">
        <div *ngFor="let slide of contentHTML">
          <mat-card class="slide-content">
            <div [innerHTML]="slide"></div>
          </mat-card>
        </div>
      </div>
      <div *ngIf="(!loginService.isAdmin &&  !showSpinner)">
        <mat-progress-bar class="progress" mode="determinate" value="{{progress}}"></mat-progress-bar>
        <mat-card class="slide slide-content">
          <button *ngIf="(contentSlide !== 0)" mat-icon-button id="prev" (click)="prevSlide()"><mat-icon>keyboard_arrow_left</mat-icon></button>
          <div [innerHTML]="contentHTML[contentSlide]"></div>
          <button *ngIf="(contentSlide !== contentHTML.length-1)" mat-icon-button id="next" (click)="nextSlide()"><mat-icon>keyboard_arrow_right</mat-icon></button>
        </mat-card>
        <mat-progress-bar class="progress" mode="determinate" value="{{progress}}"></mat-progress-bar>
      </div>
    </div>

  </body>
</html>
