<!DOCTYPE html>
<html>

<body>
  <div align="center">
    <p>{{question?.questionText}}</p>
    <span *ngIf="!alreadyDone">
      <span *ngIf="!questionDone">
        <form name="possibleListAnswers">
          <p>RESPUESTAS POSIBLES</p>
          <span *ngFor="let answer of availableListAnswers">
            <input type="button" name="answer" value="{{answer}}" (click)="newChoosenAnswer(answer)">
          </span>
        </form>
        <form name="choosenListAnswers">
          <p>RESPUESTAS ESCOGIDAS</p>
          <span *ngFor="let answer of choosenListAnswers">
            <input type="button" name="answer" value="{{answer}}" (click)="deleteChoosenAnswer(answer)">
          </span>
        </form>
        <div *ngIf="!loginService.isAdmin">
          <button class="button" style="color: dodgerblue" (click)="correctListAnswer()">Enviar</button>
        </div>
      </span>

      <span *ngIf="questionDone">
        <span *ngIf="questionListCorrect">
          <p>{{question.correctAnswers}}</p>
          <p style="color: green"> RESPUESTA CORRECTA</p>
        </span>
        <span *ngIf="!questionListCorrect">
          <p style="color: red"> RESPUESTA INCORRECTA</p>
          <mat-button-toggle (click)="this.questionDone=false">Volver a intentar</mat-button-toggle>
        </span>
      </span>
    </span>

    <span *ngIf="alreadyDone">
      <span *ngIf="this.questionListCorrect">
      <p>{{question.correctAnswers}}</p>
      <p style="color: green"> RESPUESTA CORRECTA</p>
    </span>
    <span *ngIf="!this.questionListCorrect">
      <p style="color: red"> RESPUESTA INCORRECTA</p>
      <mat-button-toggle (click)="this.questionDone=false ; this.alreadyDone = false">Volver a intentar</mat-button-toggle>
    </span>
    </span>

    <mat-button-toggle (click)="return()" style="margin-top: 5%">Volver</mat-button-toggle>
  </div>
</body>
</html>
