<!DOCTYPE HTML>
<html>
<body>
<div align=center>
        <p>{{question?.questionText}}</p>
        <span *ngIf="!questionDone">
          <form #textForm="ngForm">
            <input placeholder="Texto" [(ngModel)]="questionAnswer.answerText" name="answer" required>
          </form>
          <div *ngIf="!loginService.isAdmin">
            <button class="button" color="primary" (click)="sendAnswer()">Guardar</button>
          </div>
        </span>
        <span *ngIf="questionDone">
          <p style="color: greenyellow">REALIZADO</p>
        </span>
</div>
</body>
</html>
