<!DOCTYPE HTML>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>

    <div *ngIf="loginService.isLogged" id="header">
      <div *ngIf="loginService.isAdmin" id="progress-button">
        <button mat-icon-button [routerLink]="['progress']">
          <mat-icon>layers</mat-icon>
        </button>
      </div>
      <button mat-icon-button id="logout-button" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
      <span *ngIf="loginService.isAdmin">
        <button id="home-button" mat-icon-button [routerLink]="['/']">
          <mat-icon>home</mat-icon>
        </button>
      </span>

      <span *ngIf="!loginService.isAdmin">
        <button mat-icon-button style="position:absolute; left:5rem; margin-top: 0.4rem;" [routerLink]="['/student']">
          <mat-icon>home</mat-icon>
        </button>
      </span>

      <div id="tab-wrapper" *ngIf="tabService._tabs.length!=0">
      <span *ngFor = "let tab of tabService._tabs">

      <div class="mat-elevation-z4 tab activeTab" style="display: inline" *ngIf="tab.active">
        <span *ngIf="tab.type == 'course'">
          <div [routerLink]="['/course', tab.id]" style="display: inline; cursor: pointer;">
            Curso {{tab.name}}
          </div>
          <button class="closeTab" [routerLink]="['/student']" mat-icon-button (click)="tabService.removeTab(tab.type, tab.id)">
            <mat-icon>close</mat-icon>
          </button>
        </span>
        <span *ngIf="tab.type == 'units'">
          <div [routerLink]="['units/', tab.id, 'cards']" style="display: inline; cursor: pointer;">
            Unidad {{tab.name}}
          </div>
          <span *ngIf="!loginService.isAdmin">
            <button class="closeTab" [routerLink]="['/course', tab.course]" mat-icon-button (click)="tabService.removeTab(tab.type, tab.id)">
              <mat-icon>close</mat-icon>
            </button>
          </span>
          <span *ngIf="loginService.isAdmin">
            <button class="closeTab" [routerLink]="['/']" mat-icon-button (click)="tabService.removeTab(tab.type, tab.id)">
              <mat-icon>close</mat-icon>
            </button>
          </span>
        </span>
      </div>

      <div class="mat-elevation-z4 tab" style="display: inline" *ngIf="!tab.active">

        <span *ngIf="tab.type == 'course'">
          <div [routerLink]="['/course', tab.id]" style="display: inline; cursor: pointer;">
          Curso {{tab.name}}
          </div>
        </span>
        <span *ngIf="tab.type == 'units'">
          <div [routerLink]="['units/', tab.id, 'cards']" style="display: inline; cursor: pointer;">
          Unidad {{tab.name}}
          </div>
        </span>

        <button class="closeTab" mat-icon-button (click)="tabService.removeTab(tab.type, tab.id)">
          <mat-icon>close</mat-icon>
        </button>

      </div>

    </span>
      </div>
    </div>

    <div *ngIf="!loginService.isLogged">

      <h1 id="title">Santa Tecla</h1>

      <div id="login-container">
        <mat-dialog-content>
          <form (keyup.enter)="login($event, userElement.value, passElement.value)">

            <div layout="row" id="login-user">
              <mat-form-field flex>
                <input matInput #userElement #userControl="ngModel" placeholder="Usuario" type="text"
                  maxlength="30" name="username" [(ngModel)]="username" required id="username">
                <span matPrefix>
                  <mat-icon>person</mat-icon>
                </span>
                <mat-hint>
                  <span [hidden]="!userControl.errors?.required || userControl.pristine"
                    class="tc-red-600">Required</span>
                </mat-hint>
                <mat-hint>{{userElement.value.length}} / 30</mat-hint>
              </mat-form-field>
            </div>

            <div layout="row" id="login-password">
              <mat-form-field flex>
                <input matInput #passElement #passControl="ngModel" placeholder="Contraseña" type="password"
                  name="password" [(ngModel)]="password" required id="password">
                <span matPrefix>
                  <mat-icon>lock</mat-icon>
                </span>
                <mat-hint>
                  <span [hidden]="!passControl.errors?.required || passControl.pristine"
                    class="tc-red-600">Required</span>
                </mat-hint>
              </mat-form-field>
            </div>

          </form>

          <div id="login-button">
            <button type="button" mat-stroked-button color="primary" class="text-upper" (click)="login($event, userElement.value, passElement.value)" id="send-login-button">Login</button>
          </div>

        </mat-dialog-content>
      </div>
    </div>

    <div *ngIf="loginService.isLogged">
      <router-outlet></router-outlet>
    </div>

  </body>
</html>
