<!DOCTYPE HTML>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>

    <div *ngIf="loginService.isLogged" id="header">

      <button mat-icon-button id="logout-button" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>

      <button mat-icon-button style="position:absolute; left:5rem; margin-top: 0.4rem;" [routerLink]="['/']">
        <mat-icon>home</mat-icon>
      </button>

    </div>

    <div *ngIf="!loginService.isLogged">

      <h1 id="title">Santa Tecla</h1>

      <div id="login-container">
        <mat-dialog-content>
          <form (keyup.enter)="login($event, userElement.value, passElement.value)">

            <div layout="row" id="login-user">
              <mat-form-field flex>
                <input matInput #userElement #userControl="ngModel" placeholder="Usuario" type="text"
                  maxlength="30" name="username" [(ngModel)]="username" required id="username">
                <span matPrefix>
                  <mat-icon>person</mat-icon>
                </span>
                <mat-hint>
                  <span [hidden]="!userControl.errors?.required || userControl.pristine"
                    class="tc-red-600">Required</span>
                </mat-hint>
                <mat-hint>{{userElement.value.length}} / 30</mat-hint>
              </mat-form-field>
            </div>

            <div layout="row" id="login-password">
              <mat-form-field flex>
                <input matInput #passElement #passControl="ngModel" placeholder="Contraseña" type="password"
                  name="password" [(ngModel)]="password" required id="password">
                <span matPrefix>
                  <mat-icon>lock</mat-icon>
                </span>
                <mat-hint>
                  <span [hidden]="!passControl.errors?.required || passControl.pristine"
                    class="tc-red-600">Required</span>
                </mat-hint>
              </mat-form-field>
            </div>

          </form>

          <div id="login-button">
            <button type="button" mat-stroked-button color="primary" class="text-upper" (click)="login($event, userElement.value, passElement.value)" id="send-login-button">Login</button>
          </div>

        </mat-dialog-content>
      </div>
    </div>

    <div *ngIf="loginService.isLogged">
      <router-outlet></router-outlet>
    </div>

  </body>
</html>
