<!DOCTYPE html>
<html>
<body>
    <h1 class="center-align title">Seguimiento del curso {{this.course?.name}}</h1>
    <div class="center-align" id="progressType">
      Mostrar: {{this.chosenInfoToShow}}
      <mat-menu #showInfo="matMenu">
        <button mat-menu-item (click)="this.chosenInfoToShow='Todo'">Todo</button>
        <button mat-menu-item (click)="this.chosenInfoToShow='Clase'">Seguimiento de clase</button>
        <button mat-menu-item (click)="this.chosenInfoToShow='Unidades'">Seguimiento por unidades</button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="showInfo">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <!--<div *ngIf="this.chosenInfoToShow == 'Todo' || this.chosenInfoToShow == 'Clase'">
      <h2 class="top-margin" >Seguimiento de la clase</h2>
      <span *ngIf="chosenCourse && ready">
        <mat-form-field class="letf-margin">
          <input matInput (keyup)="applyFilterStudent($event.target.value)" placeholder="Nombre del alumno">
        </mat-form-field>
        <table mat-table [dataSource]="this.showingClassResults" class="mat-elevation-z8 center-table">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="columnWidth center-align"> Alumno </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" class="columnWidth center-align"></tr>
        </table>
        <div *ngIf="worstUser?.name == null || bestUser?.name == null" class="center-align">
          <p>No hay información suficiente para mostrar mejor y peor alumno</p>
        </div>
        <div *ngIf="worstUser?.name != null && bestUser?.name != null" class="center-align">
          <div class="row">
            <div class="column">
              <p>Mejor alumno : {{this.bestUser?.name}}</p>
            </div>
            <div class="column">
              <p>Peor alumno : {{this.worstUser?.name}}</p>
            </div>
          </div>
        </div>
      </span>
    </div>!-->
</body>
</html>
