<!DOCTYPE html>
<html>
<body>
    <h1 align="center">Seguimiento</h1>
    <div align="center" id="progressType">
      Seguimiento del curso: {{this.chosenCourse?.name}}
      <mat-menu #appMenu="matMenu">
        <span *ngFor="let course of courses">
          <button mat-menu-item (click)="newChosenCourse(course)">{{course.name}}</button>
        </span>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <div *ngIf="chosenCourse">
        Mostrar: {{this.chosenInfoToShow}}
        <mat-menu #showInfo="matMenu">
          <button mat-menu-item (click)="this.chosenInfoToShow='Todo'">Todo</button>
          <button mat-menu-item (click)="this.chosenInfoToShow='Clase'">Seguimiento de clase</button>
          <button mat-menu-item (click)="this.chosenInfoToShow='Unidades'">Seguimiento por unidades</button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="showInfo">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </div>
    <div *ngIf="this.chosenInfoToShow == 'Todo' || this.chosenInfoToShow == 'Clase'">
      <h2 align="center" style="margin-top: 5%" >Seguimiento de la clase</h2>
      <span *ngIf="chosenCourse && ready">
        <mat-form-field style="margin-left:42%">
          <input matInput (keyup)="applyFilterStudent($event.target.value)" placeholder="Nombre del alumno">
        </mat-form-field>
        <table mat-table [dataSource]="this.showingClassResults" class="mat-elevation-z8" align="center">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="columnWidth" align="center"> Alumno </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          <span *ngFor="let unit of units">
            <ng-container matColumnDef="{{unit.name}}">
              <th mat-header-cell *matHeaderCellDef class="columnWidth" align="center">{{unit.name}} </th>
              <td mat-cell *matCellDef="let element">{{element.points[this.units.indexOf(unit)].toFixed(2)}}</td>
            </ng-container>
          </span>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay" align="center"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" class="columnWidth" align="center"></tr>
        </table>
        <div *ngIf="worstUser?.name == null || bestUser?.name == null" align="center">
          <p>No hay información suficiente para mostrar mejor y peor alumno</p>
        </div>
        <div *ngIf="worstUser?.name != null && bestUser?.name != null" align="center">
          <div class="row">
            <div class="column">
              <p>Mejor alumno : {{this.bestUser?.name}}</p>
            </div>
            <div class="column">
              <p>Peor alumno : {{this.worstUser?.name}}</p>
            </div>
          </div>
        </div>
      </span>
    </div>
    <div *ngIf="this.chosenInfoToShow == 'Todo' || this.chosenInfoToShow == 'Unidades'">
      <h2 align="center" style="margin-top: 5%">Seguimiento de las unidades</h2>

      <div style="height: 25rem; padding: 0.5rem;">
        <span *ngIf="chosenCourse && ready">
          <mat-form-field style="margin-left:42%">
            <input matInput (keyup)="applyFilterUnit($event.target.value)" placeholder="Nombre de la unidad">
          </mat-form-field>
          <table mat-table [dataSource]="this.showingUnitResults" class="mat-elevation-z8" align="center">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef class="columnWidth" align="center"> Unidad </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="RightAnswers">
              <th mat-header-cell *matHeaderCellDef class="columnWidth" align="center">Respuestas correctas</th>
              <td mat-cell *matCellDef="let element">{{element.points[0]?.toFixed(0)}}</td>
            </ng-container>
            <ng-container matColumnDef="WrongAnswers">
              <th mat-header-cell *matHeaderCellDef class="columnWidth" align="center">Respuestas incorrectas</th>
              <td mat-cell *matCellDef="let element">{{element.points[1]?.toFixed(0)}}</td>
            </ng-container>
            <ng-container matColumnDef="Review">
              <th mat-header-cell *matHeaderCellDef class="columnWidth" align="center">Estado de la unidad</th>
              <td mat-cell *matCellDef="let element">
                <span *ngIf="element.points[2]?.toFixed(2) == 0">
                  <mat-icon style="color: green">done</mat-icon>
                </span>
                <span *ngIf="element.points[2]?.toFixed(2) > 0">
                  <mat-icon style="color: red">close</mat-icon>
                </span>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="unitColumnsToDisplay" align="center"></tr>
            <tr mat-row *matRowDef="let row; columns: unitColumnsToDisplay;" class="columnWidth" align="center"></tr>
          </table>
        </span>
      </div>
    </div>
</body>
</html>
