<!DOCTYPE HTML>
<html>
<body>

  <mat-card id="lateral-panel" *ngIf="unit">

    <button [className]="activeTab == 0 ? 'tab activeTab mat-button' : 'tab mat-button'" (click)="activateTab(0)">
      <mat-icon class="tab-icon">view_stream</mat-icon>
      Fichas
    </button>

    <button [className]="activeTab == 1 ? 'tab activeTab mat-button' : 'tab mat-button'" (click)="activateTab(1)">
      <mat-icon class="tab-icon">edit</mat-icon>
      Ejercicios
    </button>

    <button [className]="activeTab == 2 ? 'tab activeTab mat-button' : 'tab mat-button'" (click)="activateTab(2)">
      <mat-icon class="tab-icon">vertical_split</mat-icon>
      Itinerarios
    </button>

  </mat-card>

  <div class="unit-content">
    <app-cards *ngIf="activeTab==0"></app-cards>
    <app-questions *ngIf="activeTab==1"></app-questions>
    <app-itineraries *ngIf="activeTab==2"></app-itineraries>
  </div>

</body>
</html>
