.unit-course-name {
  margin: 0 2.5rem 0 1.5rem;
  top: 0.8rem;
  position: relative;
  display: inline;
  font-size: 1.25rem;
  color: #601972;;
}

.tab {
  background-color: #7d3c90;
  color: #ffffff;
  padding: 0.3rem 0 0.3rem 3.5rem;
  position: relative;
  cursor: pointer;
  width: 100%;
  margin-bottom: 0.5rem;
  text-align: left;
  height: 3rem;
}

.tab:hover {
  background-color: #a769b8;
}

.activeTab {
  background-color: #a769b8;
}

.tab-icon {
  position: absolute;
  left: 1.25rem;
  margin-top: 0.4rem;
}

.tab-icon-without-menu {
  position: absolute;
  top: 0.78rem;
  right: 1.45rem;
}

#unit-content {
  margin-top: 4rem;
  position: absolute;
  right: 0;
}

.with-menu {
  width: calc(100% - 21.5rem);
}

.without-menu {
  width: calc(100% - 6.2rem);
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #1e042f !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #e1afed !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #9e2abb !important;
}

#lateral-panel {
  position: fixed;
  top: 3rem;
  bottom: 0;
  background-color: #5d306a;
  padding: 1rem;
}

#hide-menu-button {
  z-index: 2000;
  top: 3rem;
  position: fixed;
  color: #ffffff;
  padding: 0.8rem;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  background-image: linear-gradient(to right, #5d306a 0%, #3e2047 100%);
  cursor: pointer;
}

.show-hide-menu-button {
  left: calc(21rem);
}

.hidden-hide-menu-button {
  left: calc(5.2rem);
}

.left-zero {
  width: 20rem;
}

.hidden-menu {
  width: 4.2rem;
}

#top-panel {
  position: fixed;
  top: 3rem;
  right: 0;
  height: 2.5rem;
  z-index: 1000;
  background-color: #5d306a;
  text-align: right;
  padding: 0.3rem 0 0.3rem 0;
}
