.unit-course-name {
  margin: 0 2.5rem 0 1.5rem;
  top: 0.8rem;
  position: relative;
  display: inline;
  font-size: 1.25rem;
  color: #601972;;
}

.tab {
  background-color: #6f2b82;
  color: #ffffff;
  padding: 0.3rem 0 0.3rem 3.5rem;
  position: relative;
  cursor: pointer;
  width: 100%;
  margin-bottom: 0.5rem;
  text-align: left;
}

.tab:hover {
  background-color: #a769b8;
}

.activeTab {
  background-color: #a769b8;
}

.tab-icon {
  position: absolute;
  left: 1rem;
  margin-top: 0.4rem;
}

.unit-content {
  margin-top: 6rem;
  margin-left: calc(20% + 1.5rem);
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #1e042f !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #e1afed !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #9e2abb !important;
}

#lateral-panel {
  position: fixed;
  left: 0;
  margin: 0.5rem 0.5rem 0 0.5rem;
  width: calc(20% - 2rem);
  top: 3rem;
  bottom: 0.5rem;
  background-color: #571a69;
}
