<!DOCTYPE HTML>
<html>
<body>
<h1 align="center">{{course?.name}}</h1>
<div class="row">
  <div class="column">
    <div align="center">
      <div>
        <h2>Unidades</h2>
        <p></p>
        <span *ngFor="let unit of course?.units">
          <mat-button-toggle [routerLink]="['/units', unit.id, 'cards']" (click)="tabService.addTab('units', unit.id, unit.name, this.id)">{{unit.name}}</mat-button-toggle>
          {{unit.questionsDone}} / {{unit.definitionQuestions.length + unit.testQuestions.length + unit.listQuestions.length}} preguntas realizadas
          <p></p>
        </span>
      </div>
    </div>
  </div>
  <div class="column">
    <div align="center">
      <h2>Mi seguimiento del curso</h2>
      <p></p>
      <p> <mat-icon style="color: green">check</mat-icon> Mi mejor unidad es {{this.bestUnit.name}}</p>
      <p> <mat-icon style="color: red">close</mat-icon> Mi peor unidad es {{this.worstUnit.name}}</p>
    </div>
  </div>
</div>
<div align="center">
  <mat-button-toggle align="center" style="margin-top: 10%; background-color: lightgrey" (click)="navigateHome()">Volver a Mis Cursos</mat-button-toggle>
</div>
</body>
</html>
