<!DOCTYPE HTML>
<html>
<body>

<div id="lateral-panel" [ngClass]="showMenu ? 'left-zero' : 'hidden-menu'">

  <button [ngClass]="activeTab == 0 ? 'tab activeTab mat-button' : 'tab mat-button'" (click)="activateTab(0)">
    <mat-icon [ngClass]="showMenu ? 'tab-icon' : 'tab-icon-without-menu'">description</mat-icon>
    <span class="tab-text" *ngIf="showMenu">Contenido</span>
  </button>

  <button [ngClass]="activeTab == 1 ? 'tab activeTab mat-button' : 'tab mat-button'" (click)="activateTab(1)">
    <mat-icon [ngClass]="showMenu ? 'tab-icon' : 'tab-icon-without-menu'">bar_chart</mat-icon>
    <span class="tab-text" *ngIf="showMenu">Seguimiento del módulo</span>
  </button>

  <button [ngClass]="activeTab == 2 ? 'tab activeTab mat-button' : 'tab mat-button'" (click)="activateTab(2)">
    <mat-icon [ngClass]="showMenu ? 'tab-icon' : 'tab-icon-without-menu'">bar_chart</mat-icon>
    <span class="tab-text" *ngIf="showMenu">Seguimiento de la clase</span>
  </button>

</div>
<mat-icon id="hide-menu-button" [ngClass]="showMenu ? 'show-hide-menu-button' : 'hidden-hide-menu-button'" (click)="setShowMenu(!showMenu)">reorder</mat-icon>

<div id="top-panel" [ngClass]="showMenu ? 'with-menu' : 'without-menu'"></div>

<div id="unit-course-content" [ngClass]="showMenu ? 'with-menu' : 'without-menu'">
  <div *ngIf="activeTab==0">
    <h1 class="center-align title">Nuevo curso</h1>

    <form class="center-align" name="newCourseName">
      <mat-form-field>
        <input matInput placeholder="Nombre del curso" [(ngModel)]="courseName" name="name" required>
      </mat-form-field>
      <div *ngIf="this.courseName == ''">
        <p class="indianred-color">El nombre del curso no puede estar vacío</p>
      </div>
    </form>

    <form name="newCourseDesc" class="center-align">
      <mat-form-field>
        <textarea matInput placeholder="Descripción del curso" [(ngModel)]="courseDescription" name="description" required></textarea>
      </mat-form-field>
      <div *ngIf="this.courseDescription == ''">
        <p class="indianred-color">La descripción del curso no puede estar vacía</p>
      </div>
    </form>

    <div class="row">
      <div class="column bottom-margin">
        <h3>Alumnos del curso</h3>
        <mat-form-field appearance="outline">
          <mat-label>Nombre del alumno</mat-label>
          <input matInput [(ngModel)]="searchStudentField" (ngModelChange)="searchStudent(); this.showStudentOptions = true" id="search-student-input">
          <div *ngIf="showStudentOptions" class="result-wrapper">
            <div class="result" id="user-result" *ngFor="let result of showingStudents; let i = index" (mouseover)="this.arrowStudentKeyLocation = i">
              <span id="user-name">
                {{result.name}}
              </span>
            </div>
          </div>
        </mat-form-field>
        <h5>Alumnos seleccionados</h5>
        <span *ngFor="let student of this.chosenStudents">
            {{student.name}}
            <mat-icon (click)="removeStudent(student)" class="pointer-cursor">close</mat-icon>
        </span>
        <div *ngIf="this.chosenStudents.length == 0">
          <p class="indianred-color">Debe elegir algún estudiante</p>
        </div>
      </div>
    </div>

    <div class="bottom-margin">
      <span *ngIf="(this.chosenStudents.length !== 0) && (this.courseDescription !== '') && (this.courseName !== '')">
        <mat-button-toggle class="save-button" (click)="save()" >Guardar</mat-button-toggle>
      </span>
      <mat-button-toggle class="save-button" [routerLink]="['/courses']" >Volver</mat-button-toggle>
    </div>
  </div>

  <app-module-progress *ngIf="activeTab==1"></app-module-progress>
  <app-class-progress *ngIf="activeTab==2"></app-class-progress>

</div>
</body>
</html>
